@import url("../../styles/base.less");

.basic_layout {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.left_menu {
  padding: 16px 8px;
  flex: 1 0 0;
}

.main_content {
  flex: 4 0 0;
  display: flex;
  flex-direction: column;
  padding: 16px;

  .top {
    height: 50px;
    &:extend(.block);
  }

  .middle {
    height: 140px;
    display: flex;
    margin: 16px 0;

    .item {
      &:first-child {
        flex: 1 0 0;
        margin-right: 12px;
      }

      &:nth-child(2) {
        flex: 1 0 0;
      }

      &:extend(.block);
    }
  }

  .bottom {
    flex: 5 0 0;
    display: flex;
    flex-direction: column;

    .progress {
      margin-top: 12px;
      height: 80px;
      padding: 16px 16px;
      &:extend(.block);
    }

    .first {
      display: flex;
      flex-direction: row;
      flex: 1 0 0;

      .firstLeft {
        flex: 3 0 0;
        height: 100%;

        .topMap {
          flex: 1 0 0;
          height: 100%;
          display: flex;
        }
      }

      .firstRight {
        flex: 1 0 0;
        height: 100%;
        margin-left: 12px;

        .force {
          flex: 1 0 0;
          height: 100%;
          display: flex;
          &:extend(.block);
        }
      }
    }

    .second {
      flex: 1 0 0;
      margin-top: 12px;
      display: flex;
      flex-direction: row;

      .secondLeft {
        flex: 3 0 0;
        display: flex;

        .pieMapContainer {
          flex: 1 0 0;
          &:extend(.block);
        }
      }

      .secondRight {
        flex: 1 0 0;
        display: flex;
        margin-left: 12px;

        .stack {
          flex: 1 0 0;
          display: flex;
          &:extend(.block);
        }
      }
    }
  }
}

.right_menu {
  margin: 16px 0;

  &:extend(.block);
}
