.basic_layout {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.left_menu {
  flex: 1 0 0;
}

.main_content {
  flex: 3 0 0;
  border-left: 1px solid black;
  border-right: 1px solid black;
  display: flex;
  flex-direction: column;

  .top {
    flex: 1 0 0;
    border-bottom: 1px solid black;
  }

  .middle {
    flex: 1 0 0;
    border-bottom: 1px solid black;
    display: flex;

    .item {
      flex: 1 0 0;
      display: flex;
      justify-content: center;
      &:first-child {
        border-right: 1px solid black;
      }
    }
  }

  .bottom {
    flex: 5 0 0;
    display: flex;
    flex-direction: row;

    .left {
      flex: 3 0 0;
      display: flex;
      flex-direction: column;

      .topMap {
        flex: 2 0 0;
      }

      .bottomMap {
        flex: 3 0 0;
        display: flex;
        flex-direction: column;

        .maps {
          display: flex;
          flex-direction: row;
          .select {
            width: 110px;
            margin-top: 12px;
          }

          .basicMap {
            display: flex;
            flex-direction: column;
            align-items: center;
          }

          .sourceMap {
            flex: 1 0 0;
          }

          .middleMap {
            flex: 1 0 0;
          }

          .targetMap {
            flex: 1 0 0;
          }
        }

        .progress {
          margin-top: 12px;
          padding: 8px;
          flex: 1 0 0;
        }
      }
    }

    .right {
      flex: 2 0 0;
      display: flex;
      flex-direction: column;

      .force {
        flex: 1 0 0;
      }

      .stack {
        flex: 1 0 0;
      }
    }
  }
}

.right_menu {
  flex: 1 0 0;
}
