.links {
  stroke-opacity: 0.6;
}

.nodes {
  stroke-width: 1.5;
}

// TODO: 无作用，为了添加一个类名
.link {
  color: red;
}

// TODO: 无作用，为了添加一个类名
.node {
  color: red;
}

.legends {
  // height: 100px;
  height: 50px;
  padding: 5px;
  overflow: auto;
}

.forceGraph {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .spin {
    height: 100%;

    :global {
      .ant-spin-container {
        height: 100%;
        display: flex;
        flex-direction: column;
      }
    }
  }
}
