@import url("../../styles/base.less");

.leftmenu {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .item {
    flex: 1 0 0;
    display: flex;
    flex-direction: column;
    overflow: auto;

    &:nth-child(2) {
      margin-top: 12px;
    }

    .list {
      flex: 1 0 0;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      padding: 0 12px;

      .countryItem {
        width: 50%;
        margin-top: 24px;
      }
    }

    &:extend(.block);
  }
}

.clicked {
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
  border-color: rgb(24, 144, 255);
  color: rgb(24, 144, 255);
}

.btn {
  margin-top: 24px;
  font-size: 12px;
  margin-bottom: 24px;
}

.middle {
  flex: 1 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
