.legend_item {
  display: flex;
  align-items: center;
  padding-bottom: 1px;
  margin: 0 2px;
  cursor: pointer;
  flex: 0 0 12.5%;

  .legend_swatch {
    width: 15px;
    height: 15px;
    margin: 0 0.5em 0 0;
    border-radius: 50%;
  }

  .legend_label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: calc(100% - 15px - 0.5em);
  }
}
