.pieMap {
  flex: 1 0 0;
  display: flex;
  flex-direction: column;

  .maps {
    flex: 2 0 0;
    display: flex;
    flex-direction: row;

    .select {
      width: 140px;
      margin-bottom: 12px;
    }

    .basicMap {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .sourceMap {
      flex: 1 0 0;
    }

    .middleMap {
      flex: 1 0 0;
      display: flex;
      flex-direction: column;
      position: relative;
    }

    .targetMap {
      flex: 1 0 0;
    }
  }
}

.sourceCountryMap {
  display: flex;
  justify-content: center;
  height: 80%;

  svg {
    stroke: #fff;
    height: 100%;

    path {
      fill: #a82b2b;
      cursor: pointer;
      outline: none;

      &:hover {
        fill: rgba(168, 43, 43, 0.83);
      }

      &:focus {
        fill: rgba(168, 43, 43, 0.6);
      }
    }
  }
}

.targetCountryMap {
  display: flex;
  justify-content: center;
  height: 80%;

  svg {
    stroke: #fff;
    height: 100%;

    path {
      fill: #317ebd;
      cursor: pointer;
      outline: none;

      &:hover {
        fill: #1c70b4;
      }

      &:focus {
        fill: #1874c0;
      }
    }
  }
}

.spin {
  height: 100%;
}
