@import "../../styles/base.less";

.topmap {
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.content {
  margin-top: 12px;
  flex: 1 0 0;
  position: relative;
}

.spin {
  height: 100%;

  :global {
    .ant-spin-container {
      height: 100%;
      display: flex;
    }
  }
}

.svg {
  pointer-events: none;
  position: relative;
  z-index: 1;

  path {
    fill: none;
    stroke-width: 2px;
  }
}

.container {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;

  &:extend(.block);
}

.left {
  flex: 1 0 0;
  display: flex;
  flex-direction: column;

  .map {
    flex: 1 0 0;
    position: relative;

    .circle {
      position: absolute;
      width: 4px;
      height: 4px;
      background-color: #7f7f7f;
      border-radius: 50%;
    }
  }
}

.middle {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  transform: translateX(-75px);
  position: relative;

  &::after {
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-left: 1px dashed #d5d5d5;
    border-right: 1px dashed #d5d5d5;
  }
}

.right {
  flex: 1 0 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 80px;
}

.countryMap {
  height: 100%;
}
